@using DataAccess.CustomModels;
@model Records;


<div class="modal fade" id="sendLinkPopUpOne" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="SendLinkLabel" aria-hidden="true">
    <div class="modal-dialog" style="top: 22%;">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h1 class="modal-title fs-5 text-white" id="SendLinkLabel">
                    Employee Form
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="SendLinkFormMain">

                <div class="modal-body text-secondary">
                    <div class="form-floating mt-3">
                        <input asp-for="firstname" type="text" class=" form-control" id="floatingInputFirst" placeholder="First Name" aria-label="First Name" />
                        <label class=" text-secondary" for="floatingInputFirst">First Name</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="lastname" type="text" class=" form-control" id="floatingInputLast" placeholder="Last Name" aria-label="Last Name" />
                        <label class=" text-secondary" for="floatingInputLast">Last Name</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="email" type="email" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Email</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="age" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Age</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="departmentname" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Department</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="education" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Education</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="company" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Company</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="experience" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Experience</label>

                    </div>
                    <div class="form-floating mt-3">
                        <input asp-for="package" type="text" class="form-control" id="sendLinkEmail" placeholder="Email" aria-label="Email">
                        <label class="text-secondary" for="floatingInputemail">Package</label>

                    </div>
                </div>
                <div class="m-3 d-flex justify-content-end">
                    <button type="button" onclick="submitSendLink()" class="btn btn-info confirm-btn text-white">
                        Save
                    </button>
                    <button id="sendLinkCancelBtn" type="button" class="btn cancel-btn border-info text-info ms-3" data-bs-dismiss="modal">
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



<script>


    function submitSendLink() {

        var formData = $('#SendLinkFormMain').serializeArray(); // Serialize form data

        // AJAX call
        $.ajax({
            url: '/Home/AddEmployee',
            type: 'POST',
            data: formData,
            success: function (result) {
                if (result.isSend == true) {
                    $("#sendLinkCancelBtn").click();
                    window.location.reload();
             
                } else {
                    alert("Please enter a valid email");
                    window.location.reload();
                   
                }
            },
            error: function () {
                alert("Error");
            }
        });

    }
</script>
