body {
    background-color: aliceblue;
    color: black;
}

.hallodoc-img {
    width: 200px;
    height: 100px;
}

.dark-mode {
    background-color: black;
    color: white;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    gap: 2rem;
}

#d-mode {
    align-self: flex-end;
    margin-top: 2rem;
    margin-right: 2rem;
    width: 2.5rem;
}

input {
    border: 1px solid rgb(0, 183, 255);
    color: rgb(0, 183, 255);
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    width: 40%;
}

.input-div {
    color: rgb(22, 8, 142);
    width: 40%;
}


button {
    background-color: rgb(0, 183, 255);
    ;
    border-color: rgb(0, 183, 255);
    ;
    color: #FFFFFF;
    ;
    margin: -20px;
    padding: 0.75rem 1rem;
    border-radius: 0.50rem;
    width: 40%;
}

footer {
    text-align: center;
    margin-bottom: 2rem;
}

@media screen and (max-width:478px) {
    .left {
        display: none;
    }

    .right {
        background-image: url(/images/banner.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
}
