

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.main {
    height: 100vh;
}

.hallodoc-img {
    width: 200px;
    height: 100px;
}

.light {
    width: 35px;
    height: 35px;
}

.terms {
    background-color: #f8f8f9;
    margin-bottom: 5%;
}

footer {
    text-align: center;
}

@media screen and (max-width:319px) {
    .hallodoc-img {
        display: none;
    }

    .light {
        position: fixed;
        right: 5%;
        top: 2%;
    }
}

#navbar {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#nav-logo {
    width: 9rem;
    margin-left: 5rem;
}

.light {
    width: 2rem;
    float: right;
    margin: 1.5rem;
}


#footr {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    height: 3rem;
}

footer p {
    font-size: large;
    float: right;
    padding: 0.25rem 1rem 0 0;
}


.form-floating > .form-control-plaintext ~ label, .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label {
    color: rgb(0, 183, 255);
}

    .form-floating > .form-control-plaintext ~ label::after, .form-floating > .form-control:focus ~ label::after, .form-floating > .form-control:not(:placeholder-shown) ~ label::after, .form-floating > .form-select ~ label::after {
        background-color: transparent;
    }

.form-control:focus {
    border: 1px solid rgb(0, 183, 255);
}

#back-btn {
    color: rgb(0, 183, 255);
    background-color: white;
    border: 1px solid rgb(0, 183, 255);
    border-radius: 5px;
    width: 5rem;
    height: 2.5rem;
}

    #back-btn:hover {
        background-color: rgb(0, 183, 255);
        color: white;
    }


