@using DataAccess.Models;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IList<Requestwisefile>;


<style>

    #downloadSelected {
        color: rgb(0, 183, 255);
        background-color: white;
        border: 1px solid rgb(0, 183, 255);
        border-radius: 5px;
    }

        #downloadSelected:hover {
            background-color: rgb(0, 183, 255);
            color: white;
        }

</style>

<br />

<div class="row my-3">
    <div class="col-12 d-flex justify-content-between">
        
        <h3>Documents</h3>
        <button class="px-3" id="downloadSelected" onclick="downloadSelectedFiles()">Download All</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table dataTable table-hover" id="data-table" aria-describedby="data-table_info">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                </th>
                <th class="sorting" data-value="Description">
                    File
                </th>
                <th>
                    Uploader
                </th>
                <th>
                    Upload Date<i class="bi bi-arrow-up-short"></i>
                </th>
                <th>
                    Actions
                </th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                @foreach (Requestwisefile rwf in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedFiles" value="@rwf.Filename">
                        </td>

                        <td>
                            <i class="bi bi-file-earmark-fill" style="color:red"></i>
                            @rwf.Filename
                        </td>
                        <td>@rwf.Requestid</td>
                        <td>@rwf.Createddate.ToString("MMM dd, yyyy")</td>
                        <td>
                            <a href="~/UploadedFiles/@rwf.Filename" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                <i class="bi bi-cloud-download"></i>
                            </a>

                        </td>
                    </tr>

                }
            }
            else
            {
                <tr>
                    <td colspan="3" style="text-align: center;">No records found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function toggleCheckboxes() {
        var checkboxes = document.getElementsByName('selectedFiles');
        var selectAllCheckbox = document.getElementById('selectAll');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }

    function downloadSelectedFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please Select At Least One File To Download.');
            return;
        }

        // Construct URLs for all selected files and initiate download
        for (var j = 0; j < selectedFiles.length; j++) {

            var fileUrl = '/UploadedFiles/' + selectedFiles[j];
            var link = document.createElement('a');
            link.href = fileUrl;
            link.setAttribute('download', ''); // This attribute triggers the download
            link.click(); // Simulate a click event to initiate the download
        }

    }
</script>

