@using DataAccess.CustomModels
@model Profile;

<script>
    const phoneInputField = document.querySelectorAll("input[type='tel']");
    for (var i = 0; i < phoneInputField.length; i++) {
        const phoneInput = window.intlTelInput(phoneInputField[i], {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });
    }
</script>
<form method="post" asp-action="SaveEditProfile" asp-controller="Patient" enctype="multipart/form-data" class="container my-5 p-4 dark-mode1" id="main-cont">
    <h3 class="col-12">General Information</h3>
    <div class="row ">
       

        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" type="text" class="form-control" id="floatingInputDisabled" placeholder="name" disabled>


                <label for="floatingInputDisabled">First Name</label>
            </div>

        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="LastName" type="text" class="form-control" id="floatingInput" disabled>
                <label for="floatingInput">Last Name</label>
            </div>
        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="DateOfBirth" type="date" class="form-control" id="datePicker" placeholder="name@example.com" disabled>
                <label for="floatingInput">Date Of Birth</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Contact Information</h5>
        </div>



        <div class="col-2">
            <div class="form-floating">
                <select class="form-select" asp-for="isMobileCheck" id="floatingSelect" type="select" aria-label="Floating label select example" disabled>
                    <option value="1">Mobile</option>
                    <option value="0">Landline</option>
                </select>
                <label for="floatingSelect">Works With Selects</label>
            </div>
        </div>
        <div class="col-4">
            <div class="form-floating mb-3 ">
                <input asp-for="PhoneNo" type="number" name="phone" class="form-control p-3 ps-5"  id="phoneNo" placeholder="(201) 555-0123" disabled>
            </div>
        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input name="email" asp-for="Email" type="email" class="form-control" id="email" placeholder="name@example.com" disabled>
                <label for="floatingInput">Email</label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h5>Patient Location</h5>
        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="Street" type="text" class="form-control" id="floatingInputStreet" placeholder="" disabled>
                <label for="floatingInput">Street</label>
            </div>
        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="City" type="text" class="form-control" id="floatingInputCity" placeholder="" disabled>
                <label for="floatingInput">City</label>
            </div>
        </div>
        <div class="col-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="State" type="text" class="form-control" id="floatingInputState" placeholder="" disabled>
                <label for="floatingInput">State</label>
            </div>
        </div>
        <div class="col-5">
            <div class="input-div form-floating mb-3">
                <input asp-for="ZipCode" type="text" class="form-control" id="floatingInputZipcode" placeholder="" disabled>
                <label for="floatingInput">Zip Code</label>
            </div>
        </div>
        <div class="col-1">
            <div class="form-floating mb-3">
                <a type="button" class="btn btn-outline-primary" href="#" onclick="createReqMap()" style="height:3.4rem ;"> <i class="bi bi-geo-alt"></i> Map</a>
            </div>
        </div>

    </div>

    <div class="col w-auto">
        <a role="button" class="back btn btn-outline-info" id="editButton">
            Edit
        </a>
    </div>

    <div class="col w-auto">
        <button class="back btn btn-outline-info" type="submit" id="saveButton" hidden>
            Save
        </button>
    </div>

</form>

<script>
   
    //script for edit and save button
    $(document).ready(function () {
        $('#editButton').click(function () {


            $('input[type="text"]').removeAttr('disabled', false);
            $('select').removeAttr('disabled', false);

            $('input[type="date"]').removeAttr('disabled', false);
            $('input[type="tel"]').removeAttr('disabled', false);

            // Hide the edit button after clicking it
            $(this).hide();
            $('#saveButton').removeAttr('hidden', false);
        });
    });

    function createReqMap() {
        var street = $("#floatingInputStreet").val();
        var city = $("#floatingInputCity").val();
        var state = $("#floatingInputState").val();
        var zipcode = $("#floatingInputZipcode").val();

        window.location.href = "https://www.google.com/maps/search/?api=1&query=" + street + city + state + zipcode;
    }

    const phoneInputField = document.getElementById("phoneNo");

    const phoneInput = window.intlTelInput(phoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    // Get today's date
    var today = new Date();

    // Format the date in YYYY-MM-DD for setting as max attribute
    var formattedDate = today.toISOString().split('T')[0];

    // Set the max attribute of the date picker to today's date
    document.getElementById("datePicker").setAttribute("max", formattedDate);

</script>