@{
    ViewData["Title"] = "business_request";
}
@model DataAccess.CustomModels.BusinessReqModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Business Request</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/business_request.css">
    <link rel="stylesheet" href="~/css/darkmode.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .iti {
            width: 100%;
        }
    </style>




</head>

<body>

    <button class="d-none" id="myBtn"></button>


    <div id="myModal" class="modal">


        <div class="modal-content d-flex flex-column justify-content-evenly align-items-center">
            <div></div>
            <img class="alert" id="info-icon" src="/images/info.png" alt="info">
            <h5>Information</h5>
            <p class="" id="info">
                When submitting a request, you must provide the correct contact information
                for the patient or the responsibility party. Failure to provide the correct email and phone
                number will delay service or be declined.
            </p>
            <span class="close"><button class="btn btn-primary">OK</button></span>
        </div>

    </div>

  <partial name="_navbar" />
    <div class="container-fluid">
        
        <div class="navbar navbar-light justify-content-end">
            <a asp-controller="Patient" asp-action="submit_request">
                <button class="dark-mode1" id="back-btn">&lt; Back</button>
            </a>
        </div>
    </div>

    <div class="container">
        <div>
            <form method="post">
            <h4>Business Infromation</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-md-6">
                    <input type="text" asp-for="firstName" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="comman">Your First Name</label>
                </div>
                <div class="form-floating col-lg-6 col-md-6">
                        <input type="text" asp-for="lastName" class="form-control" id="floatingPassword" placeholder="lastname">
                    <label for="floatingInput" class="comman"> Your Last Name</label>
                </div>
            </div>

            <div class="row mt-2">

                    <div class="input-div mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="phoneNo" type="number" name="phone" class="form-control  p-3 ps-5" id="phoneNo">

                    </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input type="email" asp-for="email" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Your Email</label>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-floating mb-3 col-md-6">
                        <input type="text" asp-for="businessName" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <span asp-validation-for="businessName" class="text-danger"></span>
                    <label for="floatingInput" class="comman"> Business/Property Name</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                        <input type="text" asp-for="caseNo" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="comman"> Case Number (Optional)</label>
                </div>
            </div>

            <br>
            <h4>Patient Infromation</h4>

            <div class=" form-floating col-12 mb-4 ">
                    <textarea class="form-control" asp-for="symptoms" placeholder="Enter Brief Details of Symptoms(Optional)"
                          id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" id="textarea">Enter Brief Details of Symptoms(Optional)</label>
            </div>
            <div class="row mt-2">

                <div class="form-floating mb-3  col-md-6 ">
                        <input type="text" class="form-control" asp-for="patientFirstName" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">First Name</label>
                </div>
                <div class="form-floating col-md-6">
                        <input type="text" asp-for="patientLastName" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Last Name</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-2">
                        <input type="date" asp-for="patientDob" class="form-control" id="datePicker" placeholder="name@example.com">
                    <label for="floatingInput" class="comman">Date of Birth</label>
                </div>
            </div>
            <br>


            <br>
            <h4>Patient Contact Information</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="comman">Email</label>
                </div>
                    <div class="input-div mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="patientPhoneNo" type="number" name="phone" class="form-control  p-3 ps-5" id="phoneNo">
                    </div>
            </div>
            <br>
            <br>

            <h4>Patient Location</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Street</label>
                </div>
                <div class="form-floating col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">City</label>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">State</label>
                </div>
                <div class="form-floating col-lg-6 col-md-12 col-sm-12">
                    <input type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Zip Code</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Rooom # / Suite (Optional)</label>
                </div>
            </div>


            <div class="d-flex justify-content-end gap-2">

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-primary">Cancel</button>

            </div>

            </form>


        </div>
    </div>
    <br>
    <footer id="footr">
        <p>Terms of Conditions | Privacy Policy</p>
    </footer>
    <script src="./js/custom.js"></script>
    <script>
        const phoneInputField = document.getElementById("phoneNo");

        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        // Get today's date
        var today = new Date();

        // Format the date in YYYY-MM-DD for setting as max attribute
        var formattedDate = today.toISOString().split('T')[0];

        // Set the max attribute of the date picker to today's date
        document.getElementById("datePicker").setAttribute("max", formattedDate);

    </script>
</body>

</html>