@model DataAccess.Models.Aspnetuser


@{
    ViewData["Title"] = "forgot_password";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/forgot_password.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>

<body>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <img class="float-right light" id="d-mode" role="button"  onclick="myFunction()" src="~/images/dark.png" alt="">
        <img src="~/images/hallodoc.png" alt="   " class="hallodoc-img">
        <br><br>
        <a href=""></a>
        <p><a asp-controller="Home" asp-action="Index" class="text-decoration-none">&lt; Back</a></p>
        <h2>Reset Your Password</h2>
        <br>
        <form asp-action="PatientResetPasswordEmail">
        <div class=" input-div form-floating">
            <input type="text" class="form-control" id="floatingPassword" placeholder="email" asp-for="Email">
            <label for="floatingPassword">Email</label>
            <i class="icon bi bi-person "></i>

        </div>
        <br>

        <button>Reset Password</button>
        </form>
        <br>
        <a asp-controller="Patient" asp-action="patient_login" id="forget-pass">&lt; Back To Login</a>

    </div>

    <footer>Terms of Conditions | Privacy Policy</footer>


    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>