@* @model DataAccess.Models.Aspnetuser *@
@model DataAccess.CustomModels.LoginModel;

@{
    ViewData["Title"] = "forgot_password";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/forgot_password.css">
    <link rel="stylesheet" href="~/css/darkmode.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>

<body>

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="d-mode btn shadow border-info ms-2"
                style="border-radius: 10px; border-color: aqua" id="colorButton">
            <i id="moon" class="bi bi-moon text-info fs-5"></i>
            <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
        </button>
        <img src="~/images/hallodoc.png" alt="   " class="hallodoc-img">
        <br><br>
        <a href=""></a>
        <p><a asp-controller="Home" asp-action="Index" class="text-decoration-none">&lt; Back</a></p>
        <h2>Reset Your Password</h2>
        <br>
        <form asp-action="PatientResetPasswordEmail">
        <div class=" input-div form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@gmail.com" asp-for="Email">
            <label for="floatingPassword">Email</label>
             <span asp-validation-for="Email" class="text-danger"></span>
            <i class="icon bi bi-person "></i>

        </div>
        <br>

        <button>Reset Password</button>
        </form>
        <br>
        <a asp-controller="Patient" asp-action="patient_login" id="forget-pass">&lt; Back To Login</a>

    </div>

    <footer>Terms of Conditions | Privacy Policy</footer>


    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>