@model DataAccess.Models.Aspnetuser;

@{
    ViewData["Title"] = "patient_resetpassword";
}
@* @model DataAccess.CustomModels.LoginModel; *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Patients</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/patient_login.css">
    <link rel="stylesheet" href="~/css/darkmode.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>


<body>

    <div class="container  d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="d-mode btn shadow border-info ms-2"
                style="border-radius: 10px; border-color: aqua" id="colorButton">
            <i id="moon" class="bi bi-moon text-info fs-5"></i>
            <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
        </button>
        <img src="/images/hallodoc.png" alt="   " class="hallodoc-img">
        <br><br>
        <a href=""></a>
        <p><a asp-controller="Home" asp-action="Index" class="text-decoration-none">&lt; Back</a></p>
        <h2>Login To Your Account</h2>
        <br>
        <form method="post">
            <div class="  input-div form-floating mb-3">
                <input type="password" asp-for="Passwordhash" class="icon1 form-control" onchange="check" id="password" placeholder="Username">
                @* <span asp-validation-for="Email" class="text-danger"></span> *@
                <label>Password</label>


                <i class="icon bi bi-person "></i>

            </div>
            <div class=" input-div form-floating mb-3">
                <input type="password" asp-for="Passwordhash" class="icon2 form-control" onchange="check" id="confirmpassword" placeholder="Password">
                @* <span asp-validation-for="Password" class="text-danger"></span> *@
                <label>Confirm Password</label>

                <i class="icon bi bi-eye" onclick="password()" id="icon_1"></i>
                <i class="icon bi bi-eye-slash-fill" onclick="password()" id="icon_2"></i>



            </div>

            <br>

            <button type="submit">Log In</button>


        </form>
        <br>
        <a asp-controller="Patient" asp-action="forgot_password" id="forget-pass">Forget Password?</a>

    </div>

    <footer>Terms of Conditions | Privacy Policy</footer>


    <script src="./js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>

    <script>
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Not Matching';
            }
        }
    </script>
</body>

</html>