@* @model DataAccess.Models.Aspnetuser; *@

@{
    ViewData["Title"] = "patient_login";
}
@model DataAccess.CustomModels.LoginModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Patients</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/patient_login.css">
    <link rel="stylesheet" href="~/css/darkmode.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
</head>


<body>

    <div class="container  d-flex flex-column justify-content-center align-items-center">
        <button type="button" class="d-mode btn shadow border-info ms-2"
                style="border-radius: 10px; border-color: aqua" id="colorButton">
            <i id="moon" class="bi bi-moon text-info fs-5"></i>
            <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
        </button>
        <img src="/images/hallodoc.png" alt=" " class="hallodoc-img">
        <br><br>
        <a href=""></a>
        <p><a asp-controller="Home" asp-action="Index" class="text-decoration-none">&lt; Back</a></p>
        <h2>Login To Your Account</h2>
        <br>
        <form method="post" asp-action="patient_login" asp-controller="Patient">
        <div class="  input-div form-floating mb-3">
            <input type="email" asp-for="Email"  class="icon1 form-control" id="floatingInput" placeholder="Username">
                <span asp-validation-for="Email" class="text-danger"></span>
                <label >Email </label>
               

            <i class="icon bi bi-person "></i>
              
        </div>
        <div class=" input-div form-floating mb-3">
                <input type="password" asp-for="Password" class="icon2 form-control" id="floatingPassword" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <label >Password</label>
                
                <i class="icon bi bi-eye" onclick="password()" id="icon_1"></i>
                <i class="icon bi bi-eye-slash-fill" onclick="password()" id="icon_2"></i>
                


        </div>

        <br>

        <button type="submit">Log In</button>
        <br />
        
        </form>
        <br />

        <div>If You Don't Have Account? <a asp-controller="Patient" asp-action="create_account">Create Account</a></div>
        <br/>
        <a asp-controller="Patient" asp-action="forgot_password" id="forget-pass">Forget Password?</a>
        
    </div>

    <footer>Terms of Conditions | Privacy Policy</footer>


    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="./js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js"></script>
</body>



</html>

@if (TempData["Error"] != null)
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["Error"]');
    </script>
}