@model DataAccess.CustomModels.PatientInfoModel;
@{
    ViewData["Title"] = "patient_request";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pationt Request</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/friendfamily_request.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <style>
        .iti {
            width: 100%;
        }
    </style>

</head>

<body>
    <partial name="_navbar" />


    <div class="container-fluid">

        <div class="navbar navbar-light justify-content-end">
            <a asp-controller="Patient" asp-action="submit_request">
            <button class="back btn btn-outline-info m-2">
                <span class="h6 p-0 m-0 text-center" >&#60; Back</span>
            </button>
            </a>
        </div>
    </div>

    <div class="container" id="cont">
        <div>
            <form method="post" enctype="multipart/form-data" >
            <h4 class="p-2">Patient Infromation</h4>

            <div class=" form-floating col-12 mb-4 ">
                <textarea class="form-control" placeholder="Enter Brief Details of Symptoms(Optional)" asp-for="symptoms"
                          id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" id="textarea">Enter Brief Details of Symptoms(Optional)</label>
            </div>
            <div class="row mt-2">

                <div class="form-floating mb-3  col-md-6 ">
                    <input asp-for="firstName" type="text" class="form-control" id="floatingInput" placeholder="">
                        <span asp-validation-for="firstName" class="text-danger"></span>
                    <label for="floatingInput" class="comman">First Name</label>
                </div>
                <div class="form-floating col-md-6">
                        <input asp-for="lastName" type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Last Name</label>
                </div>
                <div class="form-floating  col-lg-6 col-md-12 col-sm-12 mt-3">
                        <input asp-for="dob" type="date" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <span asp-validation-for="dob" class="text-danger"></span>
                    <label for="floatingInput" class="comman">Date of Birth</label>
                </div>
            </div>
            <br>
           
            <h4>Patient Contact Information</h4>
            <div class="row mt-2">

               
            </div>

                <div class="row">
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="email" name="email" type="email" class="form-control" id="email" placeholder="name@example.com">
                            <span asp-validation-for="email" class="text-danger"></span>
                            <label for="floatingInput" class="hidenpass">Email</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input type="tel" asp-for="phNo" class="form-control p-3 ps-5" placeholder="(201) 555-0123">
                        </div>
                        
                    </div>
                    <div id="passwordSection" class="col-6 " style="display:none">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="password" type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" class="hidenpass">Password</label>
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                    </div>
                    <div id="confirmPasswordSec" class="col-6" style="display:none">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="confirmPassword" type="password" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput" class="hidenpass">Confirm Password</label>
                           @*  <span asp-validation-for="confirmPassword" class="text-danger"></span> *@
                        </div>
                    </div>
                </div>
            <br>
            <h4>Patient Location</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="street" type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Street</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="city" type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">City</label>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="state"  type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">State</label>
                </div>
                <div class="form-floating col-lg-6 col-md-12 col-sm-12">
                        <input asp-for="zipCode"  type="text" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Zip Code</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-3">
                        <input asp-for="roomNo"  type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Rooom # / Suite (Optional)</label>
                </div>
            </div>
            <br>

            <h3>(Optional)Upload Photo Or Document</h3>
            <div class="form mb-3 col-lg-12 col-md-12 col-sm-12 d-flex">

                <div class="input-group mb-3">
                        <input type="file" asp-for="File" class="form-control" id="formFileLg" type="file" multiple>
                    <label class="input-group-text bg-primary text-white" for="inputGroupFile02"><i class="bi bi-cloud-arrow-up m-1"></i>&nbsp;Upload</label>
                </div>

            </div>

            <div class="d-flex justify-content-end gap-2">

                <button type="submit" class="btn btn-primary" >Submit</button>
                <button type="reset" class="btn btn-outline-primary">Cancel</button>

            </div>

            
            
            </form>

        </div>
        
       
    </div>
    <br>
    <partial name="_footer" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
    $('#email').focusout(function () {
        debugger
        var email = $(this).val();
        $.ajax({
            url: '/Patient/CheckEmailExists',
            type: 'GET',
            contentType: 'application/json',
            data: { email: email },
            success: function (response) {
                if (response.emailExists) 
                {
                    $('#passwordSection').hide();
                    $('#confirmPasswordSec').hide();
                }
                else
                {
                    $('#passwordSection').show();
                    $('#confirmPasswordSec').show();
                }
            }
        });
    });
    </script>
    <script src="./js/custom.js"></script>
    <script>
        const phoneInputField = document.querySelectorAll("input[type='tel']");
        for (var i = 0; i < phoneInputField.length; i++) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        }
    </script>
</body>

</html>