@{
    ViewData["Title"] = "someoneelse_newrequest";
}
@model DataAccess.CustomModels.FamilyReqModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pationt Request</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/friendfamily_request.css">
    <link rel="stylesheet" href="~/css/darkmode.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <style>
        .iti {
            width: 100%;
        }
    </style>


</head>

<body>


 

    <partial name="_navbar" />


    <div class="container-fluid">

        <div class="navbar navbar-light justify-content-end">
            <a asp-controller="Patient" asp-action="patient_dashboard">
                <button class="dark-mode1" id="back-btn">&lt; Back</button>
            </a>
        </div>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">

            <h4>Friend/Family Infromation</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="firstName" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <span asp-validation-for="firstName" class="text-danger"></span>
                    <label for="floatingInput" class="comman">Your First Name</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="lastName" class="form-control" id="floatingPassword" placeholder="lastname">
                    <label for="floatingInput" class="comman"> Your Last Name</label>
                </div>
            </div>


            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="tel" asp-for="phoneNo" class="form-control p-3 ps-5" class="phoneNumber" placeholder="(201) 555-0123">
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 ">
                    <input type="text" asp-for="email" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Your Email</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-2">
                    <input type="text" asp-for="relation" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <span asp-validation-for="relation" class="text-danger"></span>
                    <label for="floatingInput" class="comman">Relation With Patient</label>
                </div>
            </div>
            <br>
            <h4>Patient Infromation</h4>

            <div class=" form-floating col-12 mb-4 ">
                <textarea class="form-control" placeholder="Enter Brief Details of Symptoms(Optional)"
                          asp-for="symptoms"
                          id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2" id="textarea">Enter Brief Details of Symptoms(Optional)</label>
            </div>

            <div class="row mt-2">

                <div class="form-floating mb-3  col-md-6 ">
                    <input type="text" asp-for="patientFirstName" class="form-control" id="floatingInput" placeholder="">
                    <span asp-validation-for="patientFirstName" class="text-danger"></span>
                    <label for="floatingInput" class="comman">First Name</label>
                </div>
                <div class="form-floating mb-3 col-md-6">
                    <input type="text" asp-for="patientLastName" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Last Name</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-2">
                    <input type="date" asp-for="patientDob" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput" class="comman">Date of Birth</label>
                </div>
            </div>
            <br>
            <h4>Patient Contact Information</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="email" asp-for="patientEmail" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <span asp-validation-for="patientEmail" class="text-danger"></span>
                    <label for="floatingInput" class="comman">Email</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="tel" asp-for="patientPhoneNo" class="form-control p-3 ps-5" class="phoneNumber" placeholder="(201) 555-0123">
                </div>
            </div>
            <br>
            <h4>Patient Location</h4>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="street" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Street</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="city" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">City</label>
                </div>
            </div>
            <div class="row mt-2">

                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="state" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">State</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12">
                    <input type="text" asp-for="zipCode" class="form-control" id="floatingPassword" placeholder="">
                    <label for="floatingPassword" class="comman">Zip Code</label>
                </div>
                <div class="form-floating mb-3 col-lg-6 col-md-12 col-sm-12 mt-2">
                    <input type="text" asp-for="roomNo" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Rooom # / Suite (Optional)</label>
                </div>
            </div>
            <br>

            <h4>(Optional)Upload Photo Or Document</h4>
            <div class="form mb-3 col-lg-12 col-md-12 col-sm-12 d-flex">

                <div class="input-group mb-3">
                    <input type="file" asp-for="file" class="form-control" id="formFileLg" type="file" multiple>
                    <label class="input-group-text bg-primary text-white" for="inputGroupFile02">
                        <i class="bi bi-cloud-arrow-up m-1"></i>&nbsp;Upload
                    </label>
                </div>

            </div>


            <div class="d-flex justify-content-end gap-2">

                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="reset" class="btn btn-outline-primary">Cancel</button>

            </div>



        </form>
    </div>
    <br>
    <footer id="footr">
        <p>Terms of Conditions | Privacy Policy</p>
    </footer>

    <script>



        const phoneInputField = document.querySelectorAll("input[type='tel']");
        for (var i = 0; i < phoneInputField.length; i++) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        }


        


    </script>

</body>

</html>