@{
    ViewData["Title"] = "submit_request";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit request</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/submit_request.css">
</head>

<body>
   <partial name="_navbar" />
    <div class="container ">
        <a asp-controller="Home" asp-action="Index">
        <button id="back-btn">&lt; Back</button>
        </a>

        <h2>I am a ...</h2>


        <a asp-controller="Patient" asp-action="patient_request">
        <button class="req-btn purple">PATIENT</button>
        </a>

        <a asp-controller="Patient" asp-action="friendfamily_request">
        <button class="req-btn blue" >FRIEND/FAMILY</button>
        </a>

        <a asp-controller="Patient" asp-action="concierge_request">
        <button class="req-btn green">CONCIERGE</button>
        </a>

         <a asp-controller="Patient" asp-action="business_request">
        <button class="req-btn pink">BUSINESS PARTNERS</button>
        </a>


        <footer id="footeer">
            <p >Terms of Conditions | Privacy Policy</p>
        </footer>

    </div>


    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
</body>

</html>