@using DataAccess.CustomModels;
@model List<AccountAccess>;
<div>
    <div class="container d-flex justify-content-between mt-4">
        <h4>
            Account Access
        </h4>
        <button style="width:150px" id="back-btn" onclick="ShowCreateAccess()">
            Create Access
        </button>
    </div>
</div>
<div class="container justify-content-center mt-4">

    <div class="card border-0 shadow p-4 mb-5 rounded">

        <table class="table table-hover table-responsive" style="height:75px; text-align:match-parent">
            <thead>
                <tr class="table-secondary">
                    <td width="25%">Name</td>
                    <td width="50%">Account Type</td>
                    <td width="25%">Actions</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="3" style="text-align: center;">No records found.</td>
                    </tr>
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>

                        <td>

                        @Enum.Parse( typeof(DataAccess.Enums.AccountType), item.AccountType.ToString())

                        </td>
                        
                        <td>
                            <button type="button" class="btn btn-outline-info">Edit</button>
                            <button type="button" class="btn btn-outline-info" onclick="deleteRole(@item.RoleId)">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $('.admin-tab').removeClass("active");
    $('#access-tab').addClass("active");
</script>
<script>
    function deleteRole(roleId) {
        $.ajax({
            url: "/Admin/DeleteRole",
            data: { RoleId: roleId },
            type: 'GET',
            success: function (result) {
                if (result.isDeleted == true) {
                    toastr.success("Role Has Been Deleted Successfully");
                    AccountAccess();
                }
                else {
                    toastr.error("Something Went Wrong");
                    AccountAccess();
                }
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request')
            },
        });
    }

    function ShowCreateAccess() {
        $.ajax({
            url: '/Admin/CreateAccess',
            type: 'GET',
            success: function (response) {
                $("#access-tab-pane").html(response);
            }
        });
    }
</script>