@using DataAccess.CustomModels;
@model AssignCaseModel;

@*Assign case model *@
<div class="modal fade" id="assignModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form method="post" asp-action="SubmitAssignCase" asp-controller="Admin" class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Assign Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 text-secondary">
                    <p>To assign this request, search and select another Physician</p>
                </div>


                <div class="mb-3 ">

                    <select class="form-select text-secondary" id="selectRegion" asp-for="selectRegionId" aria-label="Default select example">
                        <option disabled selected>Select Region</option>
                        @if (Model.regionList != null)
                        {
                            foreach (var item in Model.regionList)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        }
                    </select>
                </div>

                <div class="mb-3 text-secondary">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary" id="selectPhysician" asp-for="selectPhysicianId" aria-label="Default select example">
                        </select>
                        <label for="floatingInput">Physicians</label>
                    </div>
                </div>

                <div class="mb-3">
                    <textarea class="form-control" asp-for="description" id="message-text" placeholder="Description"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="reset" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script>
    function hello() {
        alert("dsdfd");
    }
    $("#selectRegion").on("change", function () {

        showPhysicians($(this).val());

    });
    function showPhysicians(regionId) {

        $.ajax({
            url: '/Admin/GetPhysician',
            type: 'GET',

            data: { selectRegion: regionId },
            success: function (response) {

                $('#selectPhysician').html("<option selected disabled>" + "Select Physician" + "</option>");
                console.log(response.physicianlist.length);
                for (var i = 0; i < response.physicianlist.length; i++) {
                    console.log("hello");
                    $("#selectPhysician").append('<option value = "' + response.physicianlist[i].physicianid + '" >' + response.physicianlist[i].firstname + '</option>')

                }
            }
        });
    }
</script>