<div id="clearcaseModal" class="modal">


    <div class="modal-content d-flex flex-column justify-content-evenly align-items-center">
        <div></div>
        <img class="alert" id="info-icon" src="/images/info.png" alt="info">
        <h5>Confirmation For Clear Case</h5>
        <p class="" id="info">
            When submitting a request, you must provide the correct contact information
            for the patient or the responsibility party. Failure to provide the correct email and phone
            number will delay service or be declined.
        </p>
        <span class="submit"><button class="btn btn-primary">Clear</button></span>
        <span class="reset"><button class="btn btn-primary">Cancle</button></span>
    </div>

</div>