<div id="daycontainer">
    <div class="schedule">
        <table class="table table-hover table-responsive employee-schedules w-100">
            <thead class="employee-schedules-thead thead-dark">
                <tr>
                    <td>Staff</td>
                    <td>12 AM</td>
                    <td>1 AM</td>
                    <td>2 AM</td>
                    <td>3 AM</td>
                    <td>4 AM</td>
                    <td>5 AM</td>
                    <td>6 AM</td>
                    <td>7 AM</td>
                    <td>8 AM</td>
                    <td>9 AM</td>
                    <td>10 AM</td>
                    <td>11 AM</td>
                    <td>12 PM</td>
                    <td>1 PM</td>
                    <td>2 PM</td>
                    <td>3 PM</td>
                    <td>4 PM</td>
                    <td>5 PM</td>
                    <td>6 PM</td>
                    <td>7 PM</td>
                    <td>8 PM</td>
                    <td>9 PM</td>
                    <td>10 PM</td>
                    <td>11 PM</td>
                </tr>
                <tr class="Coverage">
                    <th>Coverage</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>

                </tr>
            </thead>
            <tbody class="employee-schedules-table">
            </tbody>
        </table>
    </div>
</div>