<div id="monthcontainer" class="calendar-body calendar-container">
    <h1>abcd</h1>
    <table class="calendar-table" style="width:100%">
        <thead>
            <tr class="calendar-weekdays">
            </tr>
        </thead>
        <tbody class="calendar-dates">
        </tbody>
    </table>
</div>