

<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />


<div class="container d-flex flex-column justify-content-center align-content-center vh-100 flex-column mb-5">

    <div class="req_form_container w-lg-50 d-flex justify-content-between my-4">
        <h3 class="fw-bold m-0 d-flex align-items-center">Provider Location</h3>

        <button id="back-btn" onclick="location.href='@Url.Action("admin_dashbvoard", "Admin")'">&lt; Back</button>

    </div>

    <div id="map" class="w-100 h-100 shadow "></div>
</div>

<script>
    var map = L.map('map').setView([22.2587, 71.1924], 8);

    googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
        maxZoom: 20,
        subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
    }).addTo(map);


    $.ajax({
        url: '/Admin/GetLocation',
        method: 'GET',
        success: function (response) {
            console.log(response);
            response.map(function (res) {
                L.marker([res.latitude, res.longitude]).addTo(map)
                    .bindPopup(res.physicianname)
            })
        }
    })

</script>