@model SendAgreementCase;
<div class="modal fade" id="sendAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Send Agreement</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="px-lg-1 py-1 rounded d-md-flex align-items-center ms-2">
                    <svg height="15" width="15" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="#5fbc61" r="45" cx="50" cy="50" stroke="grey" stroke-width="3" />
                    </svg>
                    <h6 class="fs-6 ms-lg-2 m-auto">Patient</h6>
                </div>
                <div class="mb-3 text-secondary">
                    <p>To send agreement, please make sure that you are updating the correct contact information below for the responsible party</p>
                </div>
                <form>
                    <input id="ReqClientid" value="@Model.ReqClientid" hidden />
                    <div class="col-12 form-group mt-3 form-floating">

                        <input asp-for="PhoneNumber" type="tel" class="form-control border border-dark" id="PhoneNumber">
                        <label for="exampleFormControlInput1">Phone Number</label>

                    </div>
                    <div class="col-12 form-group mt-3 form-floating">
                        <input asp-for="Email" type="email" class="form-control border border-dark" id="Email">
                        <label for="exampleFormControlInput1">Email</label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-light" id="send-agreement-submit-btn" style="background-color:#00B7FF" data-bs-dismiss="modal">Confirm</button>
                <button type="reset" class="btn border border-info" style="color:#00B7FF">Cancel</button>
            </div>
        </div>
    </div>
</div>
<style>
    .inputFields {
        border: 0.5rem;
        border-radius: 5px;
    }
</style>

<script>
    $('#send-agreement-submit-btn').click(function () {
        var phoneNumber = $("#PhoneNumber").val();
        var email = $("#Email").val();
        var reqClientId = $("#ReqClientid").val();

        $.ajax({
            url: "/Admin/SendAgreement",
            data: {
                ReqClientid: reqClientId,
                PhoneNumber: phoneNumber,
                Email: email,
            },
            type: 'POST',
            success: function (result) {
                $('#display').html(result);
                $('#sendAgreementModal').modal('show');
                location.reload();
            },
            error: function (error) {
                console.log(error);
                alert('Error Fetching Request abcd  ')
            },
        });
    });
</script>
