


<div class="modal fade" id="SendLinkModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h6 class="modal-title text-light" id="exampleModalLabel">Send Mail To Patient For Submitting The Request</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="form-floating col-12 form-group mt-3 ">
                    <input  type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">First Name</label>
                    <small id="phoneRequired" class="d-none" style="color:red">First Name Is Required</small>
                </div>
                <div class="form-floating col-12 form-group mt-3 ">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Last Name</label>
                    <small id="phoneRequired" class="d-none" style="color:red">Last Name Is Required</small>
                </div>
                
                <div class="form-floating col-12 form-group mt-3">
                    <input type="tel" class="form-control id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Phone Number</label>
                    <small id="phoneRequired" class="d-none" style="color:red">Phone Number Is Required</small>
                </div>
                <div class="form-floating col-12 form-group mt-3">
                    <input type="email" class="form-control id="floatingInput" placeholder="">
                    <label for="floatingInput" class="comman">Email</label>
                    <small id="emailRequired" class="d-none" style="color:red">Email Is Required</small>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-light" id="sendAgreement" style="background-color:#00B7FF">Send</button>
                <button type="reset" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>





