@using DataAccess.CustomModels;
@model AssignCaseModel;

<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


@*Transfer case model *@
<div class="modal fade" id="transferModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Transfer Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 text-secondary">
                    <p>To assign this request, search and select another Physician</p>
                </div>


                <div class="mb-3 ">

                    <select class="form-select text-secondary" id="selectRegion" asp-for="selectRegionId" aria-label="Default select example">
                        <option disabled selected>Select Region</option>
                        @if (Model.regionList != null)
                        {
                            foreach (var item in Model.regionList)
                            {
                                <option value="@item.Regionid">@item.Name</option>
                            }
                        }
                    </select>
                    <small id="regionRequired" class="d-none" style="color:red">Region Is Required</small>

                </div>

                <div class="mb-3 text-secondary">
                    <div class="form-floating mb-3">
                        <select class="form-select text-secondary" id="selectPhysician" asp-for="selectPhysicianId" aria-label="Default select example">
                        </select>
                        <label for="floatingInput">Physicians</label>
                    </div>
                    <small id="physicianRequired" class="d-none" style="color:red">Physician Is Required</small>

                </div>

                <div class="mb-3">
                    <textarea class="form-control" asp-for="description" id="description" placeholder="Description"></textarea>
                    <small id="descriptionRequired" class="d-none" style="color:red">Description Is Required</small>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="submitCase" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="reset" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
<div id="modelcontent2"></div>
<script>
    $('#selectRegion').on('change', function () {
        let selectRegion = $("#selectRegion").val();
        if (selectRegion != null) {
            $("#regionRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#regionRequired").addClass('d-block').removeClass('d-none');
        }
    });

    $('#selectPhysician').on('change', function () {
        let selectPhysician = $("#selectPhysician").val();
        if (selectPhysician != null) {
            $("#physicianRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#physicianRequired").addClass('d-block').removeClass('d-none');
        }
    });

    $('#description').on('input', function () {
        let description = $("#description").val();
        if (description != "") {
            $("#descriptionRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#descriptionRequired").addClass('d-block').removeClass('d-none');

        }
    });

    $("#selectRegion").on("change", function () {

        showPhysicians($(this).val());

    });
    function showPhysicians(regionId) {

        $.ajax({
            url: '/Admin/GetPhysician',
            type: 'GET',

            data: { selectRegion: regionId },
            success: function (response) {

                $('#selectPhysician').html("<option disabled selected value>" + "Select Physician" + "</option>");
                console.log(response.physicianlist.length);
                for (var i = 0; i < response.physicianlist.length; i++) {
                    console.log("hello");
                    $("#selectPhysician").append('<option value = "' + response.physicianlist[i].physicianid + '" >' + response.physicianlist[i].firstname + '</option>')

                }
            }
        });
    }

    $("#submitCase").on('click', function () {


        var selectRegion = $("#selectRegion").val();

        if (selectRegion == null) {
            $("#regionRequired").addClass('d-block').removeClass('d-none');
        } else {
            $("#regionRequired").addClass('d-none').removeClass('d-block');
        }

        var selectPhysician = $("#selectPhysician").val();

        if (selectPhysician == null) {
            $("#physicianRequired").addClass('d-block').removeClass('d-none');
        } else {
            $("#physicianRequired").addClass('d-none').removeClass('d-block');
        }

        var description = $("#description").val();

        if (description == "") {
            $("#descriptionRequired").addClass('d-block').removeClass('d-none');
        } else {
            $("#descriptionRequired").addClass('d-none').removeClass('d-block');
        }




        if ((selectRegion != null && selectPhysician != null) && description != '') {

            var payload = {
                selectRegionId: selectRegion,
                selectPhysicianId: selectPhysician,
                description: description,
                ReqId: @Model.ReqId
                };
            console.log(payload);
            var url = '@Url.Action("SubmitTransferCase","Admin")';
            $.ajax({
                url: url,
                type: 'POST',

                data: payload,
                success: function (response) {
                    if (response.isTransferred) {
                        console.log("Transferred");
                        toastr.success("Transfer Case");
                        window.location.reload();

                    }
                    else {
                        console.log("Failed");
                        window.location.reload();
                    }
                }
            });
        }



    });

</script>