<div id="weekviewcontainer" class="active">

    <table style="width:100%;">
        <thead>
            <tr class="weekhead">
                <td>Staff</td>

                <td class="title" data-name="Sun">Sun</td>

                <td class="title" data-name="Mon">Mon</td>


                <td class="title" data-name="Tue">Tue</td>


                <td class="title" data-name="Wed">Wed</td>


                <td class="title" data-name="Thu">Thu</td>

                <td class="title" data-name="Fri">Fri</td>

                <td class="title" data-name="Sat">Sat</td>



            </tr>
            <tr class="Converage">
                <th>Coverage</th>

                <td class="" data-name="Sun">0/24</td>

                <td class="" data-name="Mon">0/24</td>


                <td class="" data-name="Tue">0/24</td>


                <td class="" data-name="Wed">0/24</td>


                <td class="" data-name="Thu">0/24</td>

                <td class="" data-name="Fri">0/24</td>

                <td class="" data-name="Sat">0/24</td>


            </tr>
        </thead>
        <tbody class="main">
        </tbody>
    </table>
</div>