
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/admin_resetpassword.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="contianer-fluid">
            <div class="row">

                <!-- left -->
                <div class="col-lg-6 col-md-6 col-sm-12 left">
                    <img class="w-100 vh-100" src="/images/doctor.jpg" alt="banner">
                </div>

                <!-- right  -->
                <div class="col-lg-6 col-md-6 col-sm-12 right">
                    <img onclick="myFunction()" id="d-mode" class="light" src="/images/dark.png" alt="">
                    <div class="login">
                        <img class="hallodoc-img" src="/images/hallodoc.png" alt="logo">
                        <h2>Reset Your Password</h2>
                        <div class="input-div form-floating mb-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Email">
                            <label for="floatingInput">Email</label>
                        </div>
                        <button>Reset Password</button>


                        <a asp-action="admin_login" asp-controller="Admin" class="link-primary"> < Back To Login</a>


                    </div>
                    <footer>Terms of Conditions | Privacy Policy</footer>
                </div>
            </div>
        </div>


        <script src="./js/bootstrap.bundle.js"></script>
        <script src="./js/custom.js"></script>

    </body>
</html>
