@using DataAccess.CustomModels;
@{
    ViewData["Title"] = "admin_dashboard";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
            integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="~/css/admin_dashboard.css">
</head>


<body>
    <!-- navbar -->
    <nav class="bg-white navbr navbar navbar-expand w-100 ">

        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="height: 50%;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img class="navbar-brand ms-3" id="logo" src="/images/hallodoc.png" alt="logo">

            </div>
            <div>
                <ul class="navbar-nav ms-auto d-flex flex-nowrap align-items-center gap-2">
                    <div class="d-none d-sm-flex  justify-content-center align-items-center ">
                    <li class="nav-item">
                        <span>Welcome</span>
                    </li>
                    <li class="nav-item p-2 fw-bolder">
                        <span class="d-flex gap-1">
                            <span>First</span>
                            <span>Last</span>
                        </span>
                    </li>
            </div>
            <li class="nav-item">
                <a asp-action="Logout" asp-controller="Admin">
                <button id="logout" class="px-2">
                    <span class=" d-none d-md-block">Logout</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
                </button>
                </a>

            </li>
            <li class="nav-item">
                <img onclick="myFunction()" class="light" src="/images/dark.png" alt="">
            </li>
            </ul>
        </div>
        </div>


        <!-- tabs -->
    </nav>

    <hr class="m-0 hr_line d-none d-lg-block">
    <nav class="navbr navbar navbar-expand-lg py-0 pt-2 bg-body" style="z-index: 10;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class=" bg-white ps-5 nav nav-underline" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" onclick="ShowAllRequests()" id="home-tab" data-bs-toggle="tab"
                                data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"
                                aria-selected="true">
                            Dashboard
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="provider-location-tab" data-bs-toggle="tab"
                                data-bs-target="#provider-location-tab-pane" type="button" role="tab"
                                aria-controls="provider-location-tab-pane" aria-selected="false">
                            Provider Location
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="profile-tab" data-bs-toggle="tab"
                                data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane"
                                aria-selected="false">
                            My Profile
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="provider-tab" data-bs-toggle="tab"
                                data-bs-target="#provider-tab-pane" type="button" role="tab"
                                aria-controls="provider-tab-pane" aria-selected="false">
                            Providers
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="partner-tab" data-bs-toggle="tab"
                                data-bs-target="#partner-tab-pane" type="button" role="tab" aria-controls="partner-tab-pane"
                                aria-selected="false">
                            Partners
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="access-tab" data-bs-toggle="tab" data-bs-target="#access-tab-pane"
                                type="button" role="tab" aria-controls="access-tab-pane" aria-selected="false">
                            Access
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="record-tab" data-bs-toggle="tab" data-bs-target="#record-tab-pane"
                                type="button" role="tab" aria-controls="record-tab-pane" aria-selected="false">
                            Records
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- tab content -->
    <div class="tab-content" id="myTabContent">
        <!-- tab1 dashboard-->
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
             tabindex="0">


        </div>
        <!-- tab2  pending -->
        <div class="tab-pane fade" id="provider-location-tab-pane" role="tabpanel" aria-labelledby="profile-tab"
             tabindex="0">
            provider-location......
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <partial name="_myprofile" />
        </div>
        <div class="tab-pane fade" id="provider-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            provider......
        </div>
        <div class="tab-pane fade" id="partner-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            partner......
        </div>
        <div class="tab-pane fade" id="access-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            access......
        </div>
        <div class="tab-pane fade" id="record-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            record......
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;

            // Hide all tab content
            tabcontent = document.getElementsByClassName("statustabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }

            // Deactivate all tab links
            tablinks = document.getElementsByClassName("statustablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }

            // Show the specific tab content
            document.getElementById(tabName).style.display = "block";

            // Activate the clicked tab link
            evt.currentTarget.className += " active";

            if (tabName == 'tab1') {
                showNewRequests(1);
            }
            if (tabName == 'tab2') {
                showNewRequests(2);
            }
            if (tabName == 'tab3') {
                showNewRequests(3);
            }
            if (tabName == 'tab4') {
                showNewRequests(4);
            }
            if (tabName == 'tab5') {
                showNewRequests(5);
            }
            if (tabName == 'tab6') {
                showNewRequests(6);
            }


        }



        $(document).ready(function () {
            // Convert table rows to accordions in mobile view
            if ($(window).width() < 768) {
                $('.data-table tbody tr').each(function () {
                    var name = $(this).find('td:eq(0)').text();
                    var address = $(this).find('td:eq(5)').text();
                    var requestor = $(this).find('td:eq(2)').text();

                    var accordionItem = `
                                            <div class="accordion-item">

                                                <div class="accordion-content">
                                                    <p><strong>Name:</strong> ${name}</p>
                                                    <p><strong>Address:</strong> ${address}</p>
                                                    <p><strong>Requestor:</strong> ${requestor}</p>
                                                </div>
                                            </div>
                                        `;

                    $('#accordionFlushExample').append(accordionItem);
                });
            }
        });

        // Resize event listener to update accordion on window resize
        $(window).resize(function () {
            $('#accordionFlushExample').empty();
            if ($(window).width() < 768) {
                $('.data-table tbody tr').each(function () {
                    var name = $(this).find('td:eq(0)').text();
                    var address = $(this).find('td:eq(5)').text();
                    var requestor = $(this).find('td:eq(2)').text();


                    var accordionItem = `
                                            <div class="accordion-item">

                                                <div class="accordion-content">
                                                    <p><strong>Name:</strong> ${name}</p>
                                                    <p><strong>Address:</strong> ${address}</p>
                                                    <p><strong>Requestor:</strong> ${requestor}</p>
                                                </div>
                                            </div>
                                        `;

                    $('#accordionFlushExample').append(accordionItem);
                });
            }
        });

        function showNewRequests(status) {
            $.ajax({
                url: '/Admin/GetRequestsByStatus',
                type: 'GET',
                data: { tabNo: status },
                success: function (response) {
                    if (status == 1) {
                        $("#tab1").html(response);
                    }
                    if (status == 2) {
                        $("#tab2").html(response);
                    }
                    if (status == 3) {
                        $("#tab3").html(response);
                    }
                    if (status == 4) {
                        $("#tab4").html(response);
                    }
                    if (status == 5) {
                        $("#tab5").html(response);
                    }
                    if (status == 6) {
                        $("#tab6").html(response);
                    }
                }
            });
        }

        function ShowAllRequests() {
            
            $.ajax({
                url: '/Admin/GetCount',
                type: 'GET',

                success: function (response) {
                    $("#home-tab-pane").html(response);
                }
            });
        }


        function showCancelCase(Reqid) {
            $.ajax({
                url: '/Admin/CancelCase',
                type: 'GET',
                data: { Reqid: Reqid },
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#cancelModal').modal('show');

                }
            });
        }

        function showAssignCase(Reqid) {

            $.ajax({
                url: '/Admin/AssignCase',
                type: 'GET',
                data: {ReqId: Reqid },
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#assignModal').modal('show');

                }
            });
        }

        function showBlockCase(reqId) {
            $.ajax({
                url: '/Admin/BlockCase',
                type: 'GET',
                data: { reqId: reqId },
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#blockModal').modal('show');

                }
            });
        }

        function showTransferCase(reqId) {
            $.ajax({
                url: '/Admin/TransferCase',
                type: 'GET',
                data: { reqId: reqId },
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#transferModal').modal('show');

                }
            });
        }


       


        function showSendAgreement(reqId, reqType) {
            var role = null;
            if (reqType == 1) {
                role = 'Business';
            }
            if (reqType == 2) {
                role = 'Patient';
            }
            if (reqType == 3) {
                role = 'Family';
            }
            if (reqType == 4) {
                role = 'Concierge';
            }
           
            $.ajax({
                url: '/Admin/SendAgreement',
                type: 'GET',
                data: { reqId: reqId, reqType: reqType },
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#sendAgreementModal').modal('show');

                }
            });
        }
        
        function clearCase(reqId) {
            var url = '@Url.Action("ClearCase","Admin")';

            $.ajax({
                url: url,
                type: 'GET',
                data: { reqId: reqId },
                success: function (response) {
                    console.log(response);
                    $("#modelContent").html(response);

                    $('#clearModal').modal('show');
                }
            });
        }




        function Export(reqList) {
            $.ajax({
                method: "POST",
                url: "/Admin/ExportReq",
                data: { reqList: reqList },

                success: function (resp) {

                    const blob = new Blob([resp], { type: 'text/csv' });

                    var url = window.URL.createObjectURL(blob);

                    var anchor = document.createElement('a');

                    anchor.style.display = 'none';
                    anchor.href = url;
                    anchor.download = 'Exported-Requests.csv';

                    document.body.appendChild(anchor);
                    anchor.click();
                    window.URL.revokeObjectURL(url);
                    document.body.removeChild(anchor);
                },

                error: function () {
                    alert("in error");
                }

            });

        }


        function ExportAll() {
            $.ajax({
                url: '/Admin/GetRequestsByStatus',
                type: 'GET',
                data: { tabNo: 0 },
                success: function (response) {
                    console.log(response);
                    Export(response);
                }
            });
        }


        function ShowRequestSupport() {
            $.ajax({
                url: '/Admin/RequestSupport',
                type: 'GET',
               
                success: function (response) {

                    $("#modelContent").html(response);

                    $('#RequestSupportModel').modal('show');

                }
            });
        }


        function ShowSendLink() {
            $.ajax({
                url: '/Admin/SendLink',
                type: 'GET',
                
                success: function (response) {
                    
                    $("#modelContent").html(response);

                    $('#SendLinkModal').modal('show');

                }
               
            });
        }





    </script>









</body>



</html>