@using DataAccess.CustomModels;
@model Order;

<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h2>Documents</h2>
        <a asp-action="admin_dashboard" asp-controller="Admin">
        <button class="back btn btn-outline-info m-2" >
            <span class="h6 p-0 m-0 text-center">&#60; Back</span>
        </button>
        </a>



    </div>
    <div class="mt-3 border rounded-3 shadow pt-3 px-3 bg-white">
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select text-secondary py-0" aria-label="Floating label select example" id="Healthprofessionalid">
                        <option disabled selected>Select Profession</option>
                        @if (Model.Profession != null)
                        {
                            @foreach (var items in Model.Profession)
                            {
                                <option value="@items.Healthprofessionalid">@items.Professionname </option>
                            }

                        }
                    </select>
                    <label for="floatingSelect"></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select text-secondary py-0" id="Vendorid" aria-label="Floating label select example">
                    </select>
                    <label for="floatingSelect"></label>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="businessContact" />
                    <label for="floatingInput" class="">Business Contact</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="email" type="email" class="form-control" id="businessEmail" />
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="faxnumber" type="text" class="form-control" id="businessFaxNumber" />
                    <label for="floatingInput" class="">Fax Number</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="order details" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2" class="">
                        Prescription or Order details
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                        <option selected>Not Required</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Number Of Refil</label>
                </div>
            </div>
        </div>
        <div class="footer mt-5 mb-4 text-end">
            <button type="submit" class="btn bg-info text-white">Submit</button>
            <button type="button" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
    <br />
    <br />
    <br />

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#Healthprofessionalid').on('change', function () {
        let selectedValue = $('option:selected', this).val();
        $.ajax({

            url: '/Admin/FetchBusiness',
            method: 'GET',
            data: { proffesionId: selectedValue },
            success: function (response) {
                $('#Vendorid').empty();

                $('#businessContact').val("");
                $('#businessFaxNumber').val("");
                $('#businessEmail').val("");
                console.log(response.length);

                $('#Vendorid').html("<option disabled selected value>" + "Select Business" + "</option>");
                console.log(response.length);
                for (var i = 0; i < response.length; i++) {
                    $("#Vendorid").append('<option value = "' + response[i].businessId + '" >' + response[i].businessName + '</option>');

                }


            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });

    $('#Vendorid').change(function () {
        var selectedValue = $('option:selected', this).val();


        $.ajax({
            url: '/Admin/VendorDetails',
            type: 'GET',
            data: {
                selectedValue: selectedValue,
            },
            success: function (result) {
                console.log(result);
                $('#businessFaxNumber').val(result["faxnumber"]);
                $('#businessContact').val(result["businesscontact"]);
                $('#businessEmail').val(result["email"]);

            },
            error: function (err) {
                console.error(err);
            }
        });
    });

</script>