

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RequestedShift</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/admin/requestedShift.css" rel="stylesheet" />
    <script src="~/js/Admin/requestShift.js"></script>
</head>
<body>

  
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mt-2 mb-3">
                <h3>
                    Requested Shift
                </h3>
                <a asp-controller="Admin" asp-action="ProviderScheduling">
                    <button class="bg-white px-3 fw-bold">
                        <i class="bi bi-chevron-left"> </i>
                        Back
                    </button>
                </a>
            </div>
            <div class="mainBody">
                <div class="d-flex justify-content-between align-items-center mt-2 mb-3 topElements">
                    <select class="form-select select shadow-none" id="regionFilter">
                        <option selected>All Region</option>
                        @foreach (var item in Model.Regions)
                        {
                            <option value="@item.Key">@item.Value</option>
                        }
                    </select>
                    <div class="topButtons">
                        <button class="fw-bold topButtons py-2 px-2 bg-white" id="isMonthButton">
                            View Current Month Shift
                        </button>
                        <button class="topButtons fw-bold py-2 px-2" id="approved">
                            Approved Selected
                        </button>
                        <button class="topButtons fw-bold py-2 px-2 bg-danger text-white border-danger" id="delete">
                            Delete Selected
                        </button>
                    </div>
                </div>
                <div id="tableData">
                    <partial name="_RequestedShiftTable" model="@Model.RequestedShiftModel">
                </div>
            </div>
        </div>
</body>
</html>