@using DataAccess.CustomModels;
@using DataAccess.Enums;
@{
    ViewData["Title"] = "viewcase";
}

@model ViewCaseViewModel;

<link rel="stylesheet" href="~/css/admin_dashboard.css">
<nav class="bg-white navbr navbar navbar-expand w-100 ">

    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation" style="height: 50%;">
                <span class="navbar-toggler-icon"></span>
            </button>
            <img class="navbar-brand ms-3" id="logo" src="/images/hallodoc.png" alt="logo">

        </div>
        <div>
            <ul class="navbar-nav ms-auto d-flex flex-nowrap align-items-center gap-2">
                <div class="d-none d-sm-flex  justify-content-center align-items-center ">
                <li class="nav-item">
                    <span>Welcome</span>
                </li>
                <li class="nav-item p-2 fw-bolder">
                    <span class="d-flex gap-1">
                        <span>First</span>
                        <span>Last</span>
                    </span>
                </li>
        </div>
        <li class="nav-item">
            <a asp-action="admin_dashboard" asp-controller="Admin">
            <button id="logout" class="px-2">
                <span class=" d-none d-md-block">Logout</span><i class="bi bi-box-arrow-right d-md-none d-block"></i>
            </button>
            </a>

        </li>
        <li class="nav-item">
            <img onclick="darkMode()" class="light" src="/images/dark.png" alt="">
        </li>
        </ul>
    </div>
    </div>


    <!-- tabs -->
</nav>

@{


    var bgColor = "He";
    var role = "hello";

    @if (Model.RequestTypeId == (int)RequestTypeEnum.Business)
    {
        bgColor = "#d76879";
        role = "Business";
    }
    else if (Model.RequestTypeId == (int)RequestTypeEnum.Patient)
    {
        bgColor = "#60be5e";
        role = "Patient";


    }
    else if (Model.RequestTypeId == (int)RequestTypeEnum.Family)
    {
        bgColor = "#e69232";
        role = "FamilyFriend";

    }
    else if (Model.RequestTypeId == (int)RequestTypeEnum.Concierge)
    {
        bgColor = "#0b7ebf";
        role = "Concierge";
    }
}
<div class=" container-fluid    ">
    <!-- main part -->
    <div class="container flex-column bg-body-dark d-flex align-items-center justify-content-center ">


        <!--title and back  -->
        <div class="row d-flex align-items-center justify-content-around w-100 my-3">
            <div class="col-6 d-flex justify-content-start">
                <p class="d-flex">
                    <span class="fw-bold fs-4"> New Request</span>
                    <span class=" text-white boder rounded p-1 mx-2" style="background:@bgColor">@role</span>
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="col-6 d-flex justify-content-end">
                    <div class="d-none  d-md-flex align-self-end  text-info fw-bold border rounded border-2 border-info p-2 my-2 ">
                        <i class="bi bi-chevron-left"></i>
                        <a asp-controller="Admin" asp-action="admin_dashboard" class="text-info">Back</a>
                    </div>
                </div>


            </div>

            <div class=" p-5 shadow mb-3 bg-white ">

                <!--Form-->
                <form method="post">

                    <!-- Patient Information  -->
                    <h3>Patient Information</h3>

                    <p>Confirmation Number</p>
                    <h5 class="text-info">@Model.ConfirmationNumber</h5>
                    <!-- text-area  -->
                    <div class="form-floating">
                        <textarea class="form-control h-75 " id="floatingTextarea" disabled></textarea>
                        <label for="floatingTextarea" value="Fever">
                            <span class="text-tertiary"> Enter brief details symptoms(optional)</span>
                        </label>
                    </div>

                    <hr class="mt-4" />

                    <div class="row g-1 ">
                        <div class="form-floating my-3 col-12 col-md-6">
                            <input asp-for="Firstname" type="text" class="form-control " id="floatingInput" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">First Name</span></label>
                        </div>
                        <div class="form-floating my-3 col-12 col-md-6">
                            <input asp-for="Lastname" type="text" class="form-control  " id="floatingInput" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">Last Name</span></label>
                        </div>

                        <div class="form-floating col-12 col-md-6">
                            <input asp-for="DateOfBirth" type="date" class="form-control  " id="floatingInput" disabled>
                            <label for="floatingInput"><span class="text-tertiary "> Date of birth</span></label>
                        </div>
                        <div class="form-floating mb-3 col-10 col-md-5 ">
                            <input asp-for="Phonenumber" type="tel" class=" form-control bg-transparent " id="floatingInput" disabled>
                            <label for="floatingInput"><span class="text-tertiary "> Contact  </span></label>

                        </div>
                        <div class="form-floating col-2 col-md-1">
                            <a class="btn btn-outline-info p-3"><i class="bi bi-telephone text-info"></i></a>
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input asp-for="Email" type="email" class="form-control bg-transparent emailInp" id="floatingInput1" disabled>
                            <label for="floatingInput" class="ms-2 ">Email</label>

                        </div>
                        <div class=" col-12 col-sm-6"></div>
                    </div>


                    <!-- Patient Location  -->
                    <h3 class="mt-3">Patient Location</h3>
                    <div class="row d-flex justify-content-center g-1 ">
                        <div class="form-floating m- col-md-6 col-12">
                            <input asp-for="City" type="text" class="form-control" id="floatingInput" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">Region</span></label>
                        </div>
                        <div class="form-floating mb-3 col-10 col-md-5 ">
                            <input asp-for="Address" type="tel" class=" form-control bg-transparent " id="floatingInput" disabled>
                            <label for="floatingInput" class="ms-2 ">Business name / Address</label>

                        </div>
                        <div class="form-floating col-2 col-md-1">
                            <a class="btn btn-outline-info p-3"><i class="bi bi-map text-info "></i></a>
                        </div>
                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input asp-for="Room" type="text" class="form-control bg-transparent emailInp" id="floatingInput1" value="3" disabled>
                            <label for="floatingInput" class="ms-2 ">Room#</label>

                        </div>
                        <div class=" col-12 col-sm-6"></div>
                    </div>




                    <div class=" d-flex justify-content-end pe-3 ">
                        <button type="button" class="btn btn-info btn-sm px-4 py-2 me-2">Assign</button>
                        <button type="button" class="btn btn-info btn-sm px-4 py-2 me-2">View Notes</button>
                        <button type="button" class="btn btn-danger btn-sm px-4 py-2 me-2">Cancle</button>
                    </div>


                </form>
            </div>
        </div>
    </div>



