@{
    ViewData["Title"] = "viewcase";
}


<div class=" container-fluid  bg-body-tertairy   ">
    <!-- main part -->
    <div class="container flex-column bg-body-dark d-flex align-items-center justify-content-center ">


        <!--title and back  -->
        <div class="row d-flex align-items-center justify-content-around w-100 my-3">
            <div class="col-6 d-flex justify-content-start">
                <p class="d-flex">
                    <span class="fw-bold fs-4"> View Reservation</span>
                    <span class="bg-success text-white boder rounded p-1 mx-2">Patient</span>
                </p>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="col-6 d-flex justify-content-end">
                    <div class="d-none  d-md-flex align-self-end  text-info fw-bold border rounded border-2 border-info p-2 my-2 ">
                        <i class="bi bi-chevron-left"></i>
                        <a asp-controller="Admin" asp-action="admin_dashboard" class="text-info">Back</a>
                    </div>
                </div>


            </div>

            <div class=" p-5 shadow mb-3 ">

                <!--Form-->
                <form method="post">

                    <!-- Patient Information  -->
                    <h3>Patient Information</h3>

                    <p>Confirmation Number</p>
                    <h5 class="text-info">MD123523PASA0002</h5>
                    <!-- text-area  -->
                    <div class="form-floating">
                        <textarea class="form-control h-75 " id="floatingTextarea" disabled></textarea>
                        <label for="floatingTextarea" value="Fever">
                            <span class="text-tertiary"> Enter brief details symptoms(optional)</span>
                        </label>
                    </div>

                    <hr class="mt-4" />

                    <div class="row g-1 ">
                        <div class="form-floating my-3 col-12 col-md-6">
                            <input type="text" class="form-control " id="floatingInput" placeholder="first name" value="Yash" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">First Name</span></label>
                        </div>
                        <div class="form-floating my-3 col-12 col-md-6">
                            <input type="text" class="form-control  " id="floatingInput" placeholder="last name" value="Variya" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">Last Name</span></label>
                        </div>

                        <div class="form-floating col-12 col-md-6">
                            <input type="date" class="form-control  " id="floatingInput" placeholder="DOB" disabled>
                            <label for="floatingInput"><span class="text-tertiary "> Date of birth</span></label>
                        </div>
                        <div class="form-floating mb-3 col-10 col-md-5 ">
                            <input type="tel" class=" form-control bg-transparent " id="floatingInput " placeholder="" value="9157568171" disabled>
                            <label for="floatingInput"><span class="text-tertiary "> Contact  </span></label>

                        </div>
                        <div class="form-floating col-2 col-md-1">
                            <a class="btn btn-outline-info p-3"><i class="bi bi-telephone text-info"></i></a>
                        </div>

                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="email" class="form-control bg-transparent emailInp" id="floatingInput1" value="yashvariya20@gmail.com" disabled>
                            <label for="floatingInput" class="ms-2 ">Email</label>

                        </div>
                        <div class=" col-12 col-sm-6"></div>
                    </div>


                    <!-- Patient Location  -->
                    <h3 class="mt-3">Patient Location</h3>
                    <div class="row d-flex justify-content-center g-1 ">
                        <div class="form-floating m- col-md-6 col-12">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Region" disabled>
                            <label for="floatingInput"><span class="text-tertiary ">Region</span></label>
                        </div>
                        <div class="form-floating mb-3 col-10 col-md-5 ">
                            <input type="tel" class=" form-control bg-transparent " id="floatingInput " value="Rajpath, ahemdabad" disabled>
                            <label for="floatingInput" class="ms-2 ">Business name / Address</label>

                        </div>
                        <div class="form-floating col-2 col-md-1">
                            <a class="btn btn-outline-info p-3"><i class="bi bi-map text-info "></i></a>
                        </div>
                        <div class="form-floating mb-3 col-12 col-sm-6">
                            <input type="text" class="form-control bg-transparent emailInp" id="floatingInput1" value="3" disabled>
                            <label for="floatingInput" class="ms-2 ">Room#</label>

                        </div>
                        <div class=" col-12 col-sm-6"></div>
                    </div>




                    <div class=" d-flex justify-content-end pe-3 ">
                        @* <button type="button" class="btn btn-info btn-sm px-4 py-2 me-2">Assign</button> *@
                        <button type="button" class="btn btn-info btn-sm px-4 py-2 me-2">View Notes</button>
                        <button type="button" class="btn btn-danger btn-sm px-4 py-2 me-2">Cancle</button>
                    </div>


                </form>
            </div>
        </div>
    </div>






