
    <style>

        .d-mode {
            align-self: flex-end !important;
            margin-top: 2rem !important;
            margin-right: 2rem !important;
            width: 2.8rem !important;
        }
    </style>

<link rel="stylesheet" href="~/css/darkmode.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<nav class="shadow navbar navbar-dark overflow-hidden w-100" id="">
    <a class="navbar-brand"><img id="nav-logo" src="~/images/hallodoc.png" alt=""></a>
    <div id="">
        <button type="button" class="d-mode btn shadow border-info ms-2"
                style="border-radius: 10px; border-color: aqua;width:45px" id="colorButton">
            <i id="moon" class="bi bi-moon text-info fs-5"></i>
            <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
        </button>
    </div>
</nav>



