@using DataAccess.CustomModels;



<div class="modal fade" id="AdminRequestModel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form method="post" asp-controller="Admin" asp-action="SubmitBlockCase" class="modal-content" onsubmit="return checkValidation()">
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Confirm Block</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <h5>Patient Name: </h5>
                </div>
                <div class="mb-3">
                    <textarea class="form-control" id="reason"  placeholder="Reason for Block Patient"></textarea>
                    <small id="reasonRequired" class="d-none" style="color:red">Reason Is Required</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="button" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script>
    $('#reason').on('input', function () {
        let reason = $("#reason").val();
        if (reason != "") {
            $("#reasonRequired").addClass('d-none').removeClass('d-block');
        } else {
            $("#reasonRequired").addClass('d-block').removeClass('d-none');
        }
    });
    function checkValidation() {
        let reason = $("#reason").val();
        if (reason == "") {
            $("#reasonRequired").addClass('d-block').removeClass('d-none');
            return false;
        } else {
            $("#reasonRequired").addClass('d-none').removeClass('d-block');
        }
        return true;
    }
</script>