﻿@{
    ViewData["Title"] = "PEncounterForm";
    var reqId = ViewBag.reqId;
}
@using DataAccess.CustomModels;
@model EncounterFormModel;


<div class="container">
    <div class=" mt-4 d-flex justify-content-between align-items-center">
        <h4>Encounter Form</h4>
        <button id="back-btn" onclick="location.href='@Url.Action("provider_dashboard", "Provider")'">&lt; Back</button>

    </div>
    <form class="shadow border rounded my-3 bg-white dark-mode1" method="post">
        <input type="hidden" value="" id="encounterReqId" />
        <input type="hidden" value="@reqId" asp-for="reqid" />
        <div class="mx-3 my-4 mt-3">
            <h3 class="mb-3 text-center text-info">Medical Report-Confidential</h3>
            <div class="row">
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input asp-for="FirstName" type="text" class="form-control " id="exampleFormControlInput1" placeholder="Firstname">
                    <label for="exampleFormControlInput1" class="form-label ms-2">Firstname</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input asp-for="LastName" type="text" class="form-control " id="exampleFormControlInput2" placeholder="Lastname">
                    <label for="exampleFormControlInput2" class="form-label ms-2">Lastname</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-12 form-floating mb-3 text-muted">
                    <input asp-for="Location" type="text" value="" class="form-control " id="exampleFormControlInput3" placeholder="Location">
                    <label for="exampleFormControlInput3" class="form-label ms-2">Location</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input asp-for="BirthDate" type="date" asp-format="{0:yyyy-MM-dd}" name="DOB" class="form-control " id="dob" placeholder="Date Of Birth">
                    <label for="dob" class="form-label ms-2">Date Of Birth</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input type="date" class="form-control" id="Date" placeholder="Date">
                    <label for="Date" class="form-label ms-2">Date</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input asp-for="PhoneNumber" style="height:58px" id="phoneEncounter" class=" form-control contact" aria-label="Contact" type="number" />
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <input asp-for="Email" type="email" class="form-control " id="email" placeholder="Email">
                    <label for="email" class="form-label ms-2">Email</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="HistoryIllness" class="form-control" placeholder="Leave a comment here" id="encounter_hl" style="height: 100px"></textarea>
                    <label for="encounter_hl" class="ms-2">History Of present illness or Injury</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                    <textarea asp-for="MedicalHistory" class="form-control" placeholder="Leave a comment here" id="encounter_mh" style="height: 100px"></textarea>
                    <label for="encounter_mh" class="ms-2">Medical History</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Medications" class="form-control" placeholder="Leave a comment here" id="encounter_medications" style="height: 100px"></textarea>
                    <label for="encounter_medications" class="ms-2">Medications</label>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Allergies" class="form-control" placeholder="Leave a comment here" id="encounter_al" style="height: 100px"></textarea>
                    <label for="encounter_al" class="ms-2">Allergies</label>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-6 form-floating mb-3 text-muted">
                    <input asp-for="Temp" type="number" class="form-control" id="temp" placeholder="Temp">
                    <label for="temp" class="form-label ms-2">Temp</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4 col-6 form-floating mb-3 text-muted">
                    <input asp-for="Hr" type="number" class="form-control" id="hr" placeholder="HR">
                    <label for="hr" class="form-label ms-2">HR</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4 col-6 form-floating mb-3 text-muted">
                    <input asp-for="Rr" type="number" class="form-control" id="rr" placeholder="RR">
                    <label for="rr" class="form-label ms-2">RR</label>
                    <span class="text-danger"></span>
                </div>

                <div class="col-sm-6 col-md-2 col-xl-2 col-6 form-floating mb-3 text-muted">
                    <input asp-for="BpS" type="number" class="form-control" id="bps" placeholder="FirsBlood pressuretname">
                    <label for="bps" class="form-label ms-2">
                        Blood pressure
                        (Systolic)
                    </label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 col-md-2 col-xl-2 col-6 form-floating mb-3 text-muted">
                    <input asp-for="BpD" type="number" class="form-control" id="bpd" placeholder="Blood pressure">
                    <label for="bpd" class="form-label ms-2">
                        Blood pressure
                        (Diastolic)
                    </label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4 col-6 form-floating mb-3 text-muted">
                    <input asp-for="O2" type="number" class="form-control" id="o2" placeholder="O2">
                    <label for="o2" class="form-label ms-2">O2</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-6 col-md-4 col-xl-4 col-6 form-floating mb-3 text-muted">
                    <input asp-for="Pain" type="text" class="form-control" id="pain" placeholder="Pain">
                    <label for="pain" class="form-label ms-2">Pain</label>
                    <span class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6  form-floating mb-3 text-muted">
                    <textarea asp-for="Heent" class="form-control" placeholder="Leave a comment here" id="heent" style="height: 100px"></textarea>
                    <label for="heent" class="ms-2">Heent</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Cv" class="form-control" placeholder="Leave a comment here" id="cv" style="height: 100px"></textarea>
                    <label for="cv" class="ms-2">CV</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Chest" class="form-control" placeholder="Leave a comment here" id="chest" style="height: 100px"></textarea>
                    <label for="chest" class="ms-2">Chest</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Abd" class="form-control" placeholder="Leave a comment here" id="abd" style="height: 100px"></textarea>
                    <label for="abd" class="ms-2">ABD</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Extr" class="form-control" placeholder="Leave a comment here" id="extr" style="height: 100px"></textarea>
                    <label for="extr" class="ms-2">Extr</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                    <textarea asp-for="Skin" class="form-control" placeholder="Leave a comment here" id="skin" style="height: 100px"></textarea>
                    <label for="skin" class="ms-2">Skin</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Neuro" class="form-control" placeholder="Leave a comment here" id="neuro" style="height: 100px"></textarea>
                    <label for="neuro" class="ms-2">Neuro</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Other" class="form-control" placeholder="Leave a comment here" id="other" style="height: 100px"></textarea>
                    <label for="other" class="ms-2">Other</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Diagnosis" class="form-control" placeholder="Leave a comment here" id="daignosis" style="height: 100px"></textarea>
                    <label for="daignosis" class="ms-2">Diagnosis</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating  mb-3 text-muted">
                    <textarea asp-for="TreatmentPlan" class="form-control" placeholder="Leave a comment here" id="treatmentplan" style="height: 100px"></textarea>
                    <label for="treatmentplan" class="ms-2">Treatment Plan</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="MedicationDispensed" class="form-control" placeholder="Leave a comment here" id="encounter_md" style="height: 100px"></textarea>
                    <label for="encounter_md" class="ms-2">Medications Dispensed</label>
                </div>
                <div class="col-sm-12 col-md-6 col-xl-6 form-floating mb-3 text-muted">
                    <textarea asp-for="Procedures" class="form-control" placeholder="Leave a comment here" id="procedures" style="height: 100px"></textarea>
                    <label for="procedures" class="ms-2">Procedures</label>
                </div>
                <div class="form-floating mb-3 text-muted">
                    <textarea asp-for="FollowUp" class="form-control" placeholder="Leave a comment here" id="followup" style="height: 100px"></textarea>
                    <label for="followup" class="ms-2">Followup</label>
                </div>
            </div>
            <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end mt-4 pt-4 mb-3">

                <button type="submit" onclick="encounterBtn()" class="btn btn-info text-white">Save Changes</button>
                <button type="button" class="btn text-white" style="background-color:purple" onclick="finalize(@Model.reqid)" name="finalizeBtn" value="finalize">Finalize</button>
                <button type="button" id="cancelEncounterBtn" class="btn btn-outline-info" onclick="disableFields()">Cancel</button>
            </div>
        </div>
    </form>
</div>
<script>
    function disableFields() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = true;
        });
        document.getElementById('submitBtn').style.display = 'none';
        document.getElementById('cancelEncounterBtn').style.display = 'none';
        document.getElementById('editBtn').style.display = 'block';
    }

    function enableFields() {
        document.querySelectorAll('.dclass').forEach(function (element) {
            element.disabled = false;
        });
        document.getElementById('submitBtn').style.display = 'block';
        document.getElementById('cancelEncounterBtn').style.display = 'block';
        document.getElementById('editBtn').style.display = 'none';
    }
    disableFields();

    function finalize(reqid) {
        $.ajax({
            url: '/Provider/Finalizesubmit',
            type: 'POST',
            data: { reqid: reqid },
            success: function (result) {

            },
            error: function () {
                alert("Error");
            }
        });
    }
</script>