@using DataAccess.CustomModels;
@model AgreementModel;


@*CancelAgreementModal*@
<div class="modal fade" id="cancelAgreementModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form class="modal-content" method="post" asp-action="CancelAgreement">
            <input asp-for="reqId" hidden />
            <div class="modal-header" style="background-color:#00B7FF">
                <h5 class="modal-title text-light" id="exampleModalLabel">Cancel Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <h5>Patient Name:@Model.fName @Model.lName </h5>
                </div>
                <div class="mb-3">
                    <textarea asp-for="reason" id="reason" class="form-control" placeholder="Please provide a brief explanation for your cancelation"></textarea>
                    <small id="reasonRequired" class="d-none" style="color:red">Reason Is Required</small>
                </div>

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-light" style="background-color:#00B7FF">Confirm</button>
                <button type="button" class="btn border border-info" style="color:#00B7FF" data-bs-dismiss="modal">Cancel</button>
            </div>

        </form>
    </div>
</div>

