@using DataAccess.CustomModels;
@{
    ViewData["Title"] = "admin_resetpassword";
}
@model AdminLoginModel;

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/admin_resetpassword.css">
        <link rel="stylesheet" href="~/css/darkmode.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </head>

    <body>
        <div class="contianer-fluid">
            <div class="row">

            <!-- left -->
            <div class="col-lg-6 col-md-6 col-sm-12 left">
                <img class="w-100 vh-100" src="/images/doctor.jpg" alt="banner">
            </div>

            <!-- right  -->
            <div class="col-lg-6 col-md-6 col-sm-12 right">
                <button type="button" class="d-mode btn shadow border-info ms-2"
                        style="border-radius: 10px; border-color: aqua" id="colorButton">
                    <i id="moon" class="bi bi-moon text-info fs-5"></i>
                    <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
                </button>
                <form method="post" asp-controller="Home" asp-action="AdminResetPasswordEmail" class="login">
                    <img id="logo" src="/images/hallodoc.png" alt="logo">
                    <h3>Reset Your Password</h3>

                    <div class="input-div form-floating mb-3">
                  @*       <input asp-for="email" type="email" class="form-control bg-white text-black" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                        <span asp-validation-for="email" class="text-danger"></span> *@

                        <input type="email" class="form-control" id="floatingInput" placeholder="name@gmail.com" asp-for="email">
                        <label for="floatingPassword">Email</label>
                        <i class="icon bi bi-person "></i>
                        <span asp-validation-for="email" class="text-danger"></span>

                    </div>

                  

                    <button>Reset Password</button>

                </form>
                <footer>Terms of Conditions | Privacy Policy</footer>
            </div>
            </div>
        </div>


    
    

    </body>
</html>
