@using DataAccess.CustomModels;
@{
    ViewData["Title"] = "admin_login";
}

@model AdminLoginModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="~/css/admin_login.css">
    <link rel="stylesheet" href="~/css/darkmode.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


</head>



<body>
    <div class="contianer-fluid">
        <div class="row">

            <!-- left -->
            <div class="col-lg-6 col-md-6 col-sm-12 left">
                <img class="w-100 vh-100" src="/images/doctor.jpg" alt="banner">
            </div>

            <!-- right  -->
            <div class="col-lg-6 col-md-6 col-sm-12 right">
                <button type="button" class="d-mode btn shadow border-info ms-2"
                        style="border-radius: 10px; border-color: aqua" id="colorButton">
                    <i id="moon" class="bi bi-moon text-info fs-5"></i>
                    <i id="sun" class="bi bi-sun text-info fs-5 d-none"></i>
                </button>
                <form method="post" asp-controller="Home" asp-action="admin_login" class="login">
                    <img id="logo" src="/images/hallodoc.png" alt="logo">
                    <h3>Login to your account</h3>

                    <div class="input-div form-floating ">
                        <input asp-for="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                        <label for="floatingInput">Email</label>
                        <i class="icon bi bi-person "></i>
                    </div>
                    <span asp-validation-for="email" class="text-danger"></span>
              
                    <div class="input-div form-floating">
                        <input asp-for="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword">Password</label>
                        <i class="icon bi bi-eye bg-transparent" id="passwordIcon"></i>
                        

                    </div>
                    <span asp-validation-for="password" class="text-danger"></span>
                 
                    <button>Log In</button>

                    <a asp-controller="Home" asp-action="admin_resetpassword" id="forget-pass">Forget Password?</a>
                </form>
                
                <footer>Terms of Conditions | Privacy Policy</footer>
            </div>
        </div>
    </div>


    <script>
        var temp = true;
        $(document).on("click", "#passwordIcon", function () {
            if (temp) {
                $(this).addClass("bi-eye-slash");
                $(this).removeClass("bi-eye");
                $("#floatingPassword").prop("type", "text");
            }
            else {
                $(this).addClass("bi-eye");
                $(this).removeClass("bi-eye-slash");
                $("#floatingPassword").prop("type", "password");
            }
            temp = !temp;
        })
    </script>
    
</body>

</html>

@if (TempData["Error"] != null)
{
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.error('@TempData["Error"]');
    </script>


}

