<!DOCTYPE html>
<html lang="en">



<body >

    <div class="d-flex flex-column main justify-content-around">

        <div class="d-flex flex-column">

            <div class="d-flex justify-content-between ps-4">
                <div>
                    <img class="hallodoc-img" src="./images/hallodoc.png" alt="">
                </div>

                <div>
                    <img onclick="myFunction()" class="light" src="./images/dark.png" alt="">
                </div>
            </div>
            

            <div class="d-grid gap-2 mt-5">
            
                    <button class="btn w-100 border-0 fw-medium" style="background-color: #00b8e6; color: white;"
                        type="button">Submit A Request</button>
                        
                

               
                    <button class="btn w-100 border-0 fw-medium" style="background-color: #00004d; color: white;"
                        type="button">Registered Patients</button>
               
            </div>

            </div>
           
            <footer>Terms of Conditions | Privacy Policy</footer>
           
        
    </div>

</body>

</html>