@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient site</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="d-flex justify-content-center align-items-center">

    <div class="d-flex flex-column main justify-content-around">

        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between ps-4">
                <div>
                    <img class="hallodoc-img" src="./images/hallodoc.png" alt="">
                </div>

                <div>
                    <img onclick="myFunction()" role="button" class="light" src="./images/dark.png" alt="">
                </div>
            </div>

            <div class="d-grid gap-2 mt-5">
                <a asp-controller="Patient" asp-action="submit_request">
                    <button class="btn w-100 border-0 fw-medium" style="background-color: #00b8e6; color: white;"
                            type="button">
                        Submit A Request
                    </button>
                    </a>

                

                     <a asp-controller="Patient" asp-action="patient_login">
                    <button class="btn w-100 border-0 fw-medium" style="background-color: #00004d; color: white;"
                            type="button">
                        Registered Patients
                    </button>

                    </a>

                     <a asp-controller="Admin" asp-action="admin_login">
                    <button class="btn w-100 border-0 fw-medium" style="background-color:orange; color: white;"
                            type="button">
                        Admin
                    </button>

                    </a>
                
            </div>

        </div>

        <footer>Terms of Conditions | Privacy Policy</footer>
    </div>

    <script src="./js/bootstrap.bundle.js"></script>
    <script src="./js/custom.js"></script>
</body>


</html>